<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("6463d57d-2f0d-47a5-a073-12b475408964");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
